doctype html
html
  head
    link(rel='stylesheet', href='/css/Index.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //script(src='public/editor.js')
    style. 
      body { 
        background-image: url("/images/wood.jpg"); 
        background-size: auto;
      }
  body
    nav.navBar
        li 
            a(href="http://localhost:7000") Home
        li 
            a(href="http://localhost:7000/tapList") Tap List
        li 
            a(href="http://localhost:7000/editor/lunch") Lunch Menu
        li 
            a(href="http://localhost:7000/dinnerM") Dinner Menu
        li 
            a(href="http://localhost:7000/contact") Contact Us
        li
            img(src="Images/logo.png", alt="")
        div.hours 
            p Hours:<br/> Tuesday - Saterday: 11am - 12am
        div.socialmedia
            a(href="https://www.zomato.com/cookeville-tn/father-toms-pub-cookeville") 
                img(src="Images/socialmedia/zomato.png", alt="Zomato")
            a(href="https://twitter.com/FatherTomsPub") 
                img(src="Images/socialmedia/twitter.png", alt="Twitter")
            a(href="https://untappd.com/v/father-toms-pub/341119")
                img(src="Images/socialmedia/untapped.png", alt="UnTapped")
            a(href="https://www.yelp.com/biz/father-toms-pub-cookeville")
                img(src="Images/socialmedia/yelp.png", alt="Yelp")
            a(href="https://www.facebook.com/FatherTomsPub/")
                img(src="Images/socialmedia/fBook.png", alt="Facebook")
            
            a(style="height: 14px; width: 14px;" href="http://localhost:7000/editor")
                img(src="Images/beard.png", alt="AdminPage")
      
    div.menuContainer.font
      h3 The food
      each food in allfood
        div.menuItem.
          #{food.name} <br/>
          #{food.price} <br/>
          #{food.description} <br/>
        div.selectorItem
          button(id="deleteItemBtn" onclick="deleteMenuItem(#{this.food.itype},#{this.food.name})") delete
      <br/>
      <br/>
      div.selectorItem
        p Item Type *required*<br/>
        input(type="text", id="iType", name="iType")
        p Item name *required*<br/>
        input(type="text", id="name", name="Name")
        p Item price *optional*<br/>
        input(type="text", id="price", name="Price")
        p Item ABV *optional*<br/>
        input(type="text", id="abv", name="ABV")
        p Item description *optional*<br/>
        input(type="text", id="desc", name="Desc")

        button(id="addItemBtn" onclick="updateMenuItem()") add

<script type="text/javascript">

    function addMenuItem () {
        //set up connection variables for the sql query
        var conn = new sql.ConnectionPool(sqlconfig);
        var sqlreq = new sql.Request(conn);

        var itype = document.getElementById('iType');
        var name = document.getElementById('name');
        var price = document.getElementById('price');
        var abv = document.getElementById('abv');
        var desc = document.getElementById('desc');

        //initiate the connection
        conn.connect(function (err) {
            //throw an error if the page cannot connect to the server
            if (err) {
                console.log(err);
                return;
            }
            //
            sqlreq.query("insert into food (itype,name,price,abv,description) values ('"+itype+"','"+name+"','"+price+"','"+abv+"','"+desc+"')")
            };
        );
    };

    function deleteMenuItem (itype,name) {
        //set up connection variables for the sql query
        var conn = new sql.ConnectionPool(sqlconfig);
        var sqlreq = new sql.Request(conn);

        //initiate the connection
        conn.connect(function (err) {
            //throw an error if the page cannot connect to the server
            if (err) {
                console.log(err);
                return;
            }
            //
            sqlreq.query("delete from food where itype = '"+itype+"', name = '"+name+"'")
        });
    };
</script>